---
name: Run Behavioral Tests
on:
  - push
  - pull_request
jobs:
  yamllint:
    name: Run behave tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v5.1.0
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python3 -m pip install '.[dev]'
          python3 -m pip install coverage
      - name: Run tests
        run: |
          python3 -m coverage run -m behave
      - name: Report test coverage
        run: |
          python3 -m coverage report
